/* Style for the calculator keypad container */
.displayNum__container {
    position: absolute;
    top: 100;
    left: 100;
    width: 100%;
    background-color: #333; /* Background color for the keypad */
    padding: 20px 0; /* Padding at the top and bottom */
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0px;
    z-index: 999; /* Ensure the keypad is above other content */
  }
  
  /* Style for calculator buttons */
  .displayNum-key {
    width: 50px;
    height: 50px;
    font-size: 24px;
    margin: 5px;
    background-color: #fff;
    color: #333; /* Text color for the buttons */
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  
  /* Hover effect for calculator buttons */
  .displayNum-key:hover {
    background-color: #f0f0f0; /* Background color on hover */
  }
  
